# {{ ansible_managed }}

[Coredump]
Storage={{ coredump_storage }}
Compress={{ coredump_compress }}
ProcessSizeMax={{ coredump_process_size_max }}
ExternalSizeMax={{ coredump_external_size_max }}
JournalSizeMax={{ coredump_journal_size_max }}
MaxUse={{ coredump_max_use }}
KeepFree={{ coredump_keep_free }}
